---
import SignInForm from "../components/SignInForm.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sign In - HiverLMS" hideHeader={true}>
  <div class="min-h-screen w-full bg-background flex items-center justify-center relative antialiased selection:bg-primary/20">
    <SignInForm />
  </div>
</Layout>
