---
import SignUpForm from "../components/SignUpForm.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sign Up - HiverLMS" hideHeader={true}>
  <div class="min-h-screen w-full bg-background flex items-center justify-center relative antialiased selection:bg-primary/20">
    <SignUpForm />
  </div>
</Layout>
